<% provide(:title, "新規作成") %>
<div class="row">
<h1>看板新規作成</h1>
  <div>
    <%= form_for(@kanban) do |f| %>
      <%= f.label :content %>
      <%= f.text_area :content %>

      <%= f.label :stage %>
      <%= f.number_field :stage , min: 1, max: 5, :value => 1 %>

      <%= f.label :deadline %>
      <%= f.datetime_select :deadline , :start_year => Time.now.year, :use_month_numbers => true %>
      
      <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |tag| %>
        <div class='form-check'>
          <%= tag.label class: 'form-check-label' do %>
            <%= tag.text %>
            <%= tag.check_box class: 'form-check-input' %>
          <% end %>
        </div>
      <% end %>
      <li><%= link_to "New_Tag", new_tag_path %></li>
      <%= f.submit "Create new 看板!", class: "btn btn-primary" %>
    <% end %>
    <h2>CSV提出ホーム</h2>
    <%= form_tag import_kanbans_path, multipart: true do %>
      <%= file_field_tag :file %>
      <%= submit_tag "インポート" %>
    <% end %>
  </div>
<p>
</div>