<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "個人看板app", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "New", new_path %></li>
        <li><%= link_to "Finish", homepages_finish_path %></li>
        <li><%= link_to "Tag", tags_path %></li>
      </ul>
    </nav>
  </div>
</header>